
0_DemoCase/
1_PoolFire/
_OlderVersion/
PDE_Bench/

__pycache__/

Loss_Demo*/
ffm_tc_pointcloud*/
ForViewDataset/
ForOfflineEvaluation/
bk/
Save_PhyCoEval/
.agents/

figures/generated/


*.pt
*.pth
*.png
*.gif
*.csv
*.h5
*.tar
*.pt
*.yaml
*.txt
*.svg
*.json
*.codex
*.npz

!config_pointcloud_ffm.yaml
!config_baseline_Gen.yaml
!config_baseline_Det.yaml
!config_pointcloud_ffm_ram.yaml
